@import  'font';
#contentResultAI {
  font-family: 'Roboto', sans-serif; !important;
  font-size: 14px !important;
  padding: 0 20px;
}

#contentResultAI ul,
#contentResultAI li {
  font-family: 'Roboto', sans-serif; !important;
  font-style: normal !important;
  font-size: 14px !important;
  line-height: 20px !important;
  color: #1c213f;
  text-align: justify;
}

#contentResultAI h1,
#contentResultAI h2,
#contentResultAI h3,
#contentResultAI h4,
#contentResultAI h5,
#contentResultAI h6,
#contentResultAI strong {
  margin-right: 5px;
  font-weight: bold;
  font-family: 'Roboto', sans-serif;;
  font-style: normal;
  font-size: 14px;
  line-height: 20px;
  color: #1c213f;
}